{% extends "base.html" %}
{% load static %}

<!-- Page Title -->
{% block title %}Password Reset Complete{% endblock %}

<!-- Page Content -->
{% block content %}
<div class="row">
    <div class="col-0 col-md-4"></div>
    <div class="col-12 col-md-4">
        <div class="form-container">
            <h4 class="text-center mb-2">Password Successfully Changed</h4>
            <p class="text-center mb-1">Your password has been updated. You can now log in.</p>
            

            <!-- Manual Forgot Password link outside the form -->
            <a href="{% url 'account_login' %}" class="btn btn-dark w-100 mt-2">Login</a>

        </div>
    </div>
    <div class="col-0 col-md-4"></div>
</div>


{% endblock %}

<!-- Page Spefici Scripts -->
{% block scripts %}
{% endblock %}

<!-- Page Specific Styles -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}