{% extends "base.html" %}
{% load static %}

<!-- Page Title -->
{% block title %}Password Reset Sent{% endblock %}

<!-- Page Content -->
{% block content %}
<div class="row">
    <div class="col-0 col-md-3"></div>
    <div class="col-12 col-md-6">
        <div class="form-container">
            <h4 class="text-center mb-2">Check Your Email</h4>
            <p class="text-center mb-1">To protect user privacy, we do not confirm whether an email address is registered.</p>
            <p class="text-center mb-1">If the address is associated with an account, a password reset link will be sent shortly.</p>
            

            <!-- Manual Forgot Password link outside the form -->
            <a href="{% url 'account_login' %}" class="btn btn-outline-dark w-100 mt-2">Back to Login</a>

        </div>
    </div>
    <div class="col-0 col-md-3"></div>
</div>


{% endblock %}

<!-- Page Spefici Scripts -->
{% block scripts %}
{% endblock %}

<!-- Page Specific Styles -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}