{% extends "base.html" %}
{% load static %}

<!-- Page Title -->
{% block title %}Home{% endblock %}

<!-- Page Content -->
{% block content %}
<div class="container mt-3">
    <h1>Welcome to UpShift Academy</h1>
    <p>This is the home page of your Django project.</p>
    <p>Use the navigation bar to explore different sections of the site.</p>
    <p>Feel free to customize this page as per your requirements.</p>
    <p>For more information, check out the <a href="">About</a> page.</p>
    <p>If you have any questions, visit the <a href="">Contact</a> page.</p>
    <p>Enjoy your journey with UpShift Academy!</p>
    <p>This is the home page of your Django project.</p>
    <p>Use the navigation bar to explore different sections of the site.</p>
    <p>Feel free to customize this page as per your requirements.</p>
    <p>For more information, check out the <a href="">About</a> page.</p>
    <p>If you have any questions, visit the <a href="">Contact</a> page.</p>
    <p>Enjoy your journey with UpShift Academy!</p>
    <p>This is the home page of your Django project.</p>
    <p>Use the navigation bar to explore different sections of the site.</p>
    <p>Feel free to customize this page as per your requirements.</p>
    <p>For more information, check out the <a href="">About</a> page.</p>
    <p>If you have any questions, visit the <a href="">Contact</a> page.</p>
    <p>Enjoy your journey with UpShift Academy!</p>
    <p>This is the home page of your Django project.</p>
    <p>Use the navigation bar to explore different sections of the site.</p>
    <p>Feel free to customize this page as per your requirements.</p>
    <p>For more information, check out the <a href="">About</a> page.</p>
    <p>If you have any questions, visit the <a href="">Contact</a> page.</p>
    <p>Enjoy your journey with UpShift Academy!</p>
    <p>This is the home page of your Django project.</p>
    <p>Use the navigation bar to explore different sections of the site.</p>
    <p>Feel free to customize this page as per your requirements.</p>
    <p>For more information, check out the <a href="">About</a> page.</p>
    <p>If you have any questions, visit the <a href="">Contact</a> page.</p>
    <p>Enjoy your journey with UpShift Academy!</p>
    <p>This is the home page of your Django project.</p>
    <p>Use the navigation bar to explore different sections of the site.</p>
    <p>Feel free to customize this page as per your requirements.</p>
    <p>For more information, check out the <a href="">About</a> page.</p>
    <p>If you have any questions, visit the <a href="">Contact</a> page.</p>
    <p>Enjoy your journey with UpShift Academy!</p>

</div>
{% endblock %}

<!-- Page Spefici Scripts -->
{% block scripts %}

{% endblock %}

<!-- Page Specific Styles -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}